.collection.container {
  text-align: center;
  padding: 20px 0 35px;

}

@include media-breakpoint-down(sm) {
  .collection {
    padding: 0;
  }
}

.text-block {
  width: 50%;
  margin: 0 auto;
}

@include media-breakpoint-down(lg) {
  .text-block {
    width: 75%;
  }
}

@include media-breakpoint-down(md) {
  .text-block {
    width: 85%;
  }
}

@include media-breakpoint-down(sm) {
  .text-block {
    width: 95%;
  }
}

.text-block h3 {
  position: relative;
  top: 0;
  left: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: calc(12px + 1.5625vw);
  line-height: calc(11px + 4.135417vh);
  text-align: center;
  padding-bottom: 5%;
  color: $CapeCod;

  &::after {
    @include pseudo;
    width: 250px;
    height: 1px;
    background-color: $DustyGray;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.text-block p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: calc(6px + 10 * (100vw / 1920));
  line-height: calc(11px + 21 * (100vh / 1920));
  text-align: center;
  color: $CapeCod;
  padding: 5% 0 6%;
  max-width: 730px;
  margin: 0 auto;
}

.collection-content.justify-content-center.row {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  @include flex-container;
 padding: 0;
 margin: 0;
}

@include media-breakpoint-down(xxl) {
  .collection-content.justify-content-center.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}

.collection-item {
  position: relative;
  top: 0;
  margin: 0 auto;
  text-align: center;
  transition: all 0.7s linear;
 padding: 4%;
  opacity: 0.7;
}

.collection-item:hover {
  transform: scale(1.11);
  cursor: pointer;
  color: $black;
  opacity: 1;
}

img.collection-images {
  min-width: 210px;
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 13px -7px $black, -1px 10px 2px 17px rgba(151, 151, 151, 0);
 
}
@include media-breakpoint-down(xl){
  img.collection-images{
    min-width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    height: 100%;
  }
}
.collection__info {
  position: absolute;
  top: 50%;
  transform: translateY(-15px);
  left: 0;
  right: 0;
  margin: 0 auto;

  &-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: calc(12px + 8 * (100vw / 1920));
    line-height: calc(11px + 18 * (100vh / 1920));
    color: $CapeCod;
  }

  &-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: calc(9px + 8 * (100vw / 1920));
    line-height: calc(11px + 18 * (100vh / 1920));
    color: $DustyGray;
  }
}